* {
    font-family: 'Roboto', sans-serif;
}

.drk {
    background-color: #1f2937;
}

.signup {
    background-color: #3882f6;
}

#logo {
    size: 24px;
    color: #f9faf8;
}

#hero {
    size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

#subhero {
    size: 18px;
    color: #e5e7eb;
}

.hero_up,
.hero_down {
    display: flex;
    padding: 20px;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

h2 {
    size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

