* {
    font-family: Roboto, sens-serif;
}
.bg1 {
    background-color: #1f2937;
}

.bg2 {
    background-color: white;
}

.bg3 {
    background-color: #e5e7eb;
}

.flexy {
    display: flex;
    justify-content: center;
    padding-left: 48px;
    padding-right: 48px;
}

.left {
    align-self: flex-end;
}
#navbar {
    width: 80%;
    justify-content: space-between;
}